<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TOGA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{{ url_for('static', filename='img/styles.css') }}static/img/favicon.png" rel="icon"> -->
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.1.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>TOGA<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#project">Projects</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#plant">Plant</a></li>
          <li><a href="#team">Team</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>Xperience One</span></h2>
          <h4 style="color: aliceblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
          ;">Sebelum menyembuhkan orang lain, sembuhkanlah diri sendiri dulu.</h4>
          <div class="d-flex justify-content-center justify-content-lg-start mt-4">
            <a href="#project" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/img/logo.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-asterisk"></i></div>
              <h4 class="title"><a class="stretched-link">Treatment</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-activity"></i></div>
              <h4 class="title"><a class="stretched-link">Health</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-heart-pulse"></i></div>
              <h4 class="title"><a class="stretched-link">Healing</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-heart"></i></div>
              <h4 class="title"><a class="stretched-link">Relaxing</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">
    <!-- ======= Our Projects Section ======= -->
    <section id="project" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Projects</h2>
          <p>Masukan Penyakit yang dirasa</p>
        </div>
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg col-md text-center">
            <div class="service-item position-relative ">
              <form action="{{ url_for('predict')}}" method="post">
              <div class="container-fluid col-lg-5 mt-4">
              <tr class="mb-5">
                <td>
                  <select class="form-select" aria-label="Default select example" label="penyakit1" name="penyakit1" required>
                    <option value="" selected disabled>Pilih Penyakit Pertama</option>
                    <option value="0">Batuk</option>
                    <option value="1">Pilek</option>
                    <option value="2">Nafsu Makan</option>
                    <option value="3">Sakit Perut</option>
                    <option value="4">Sakit Kepala</option>
                    <option value="6">Perut Kembung</option>
                    <option value="7">Radang Amandel</option>
                    <option value="8">Asma</option>
                    <option value="9">Sembelit</option>
                    <option value="11">Masuk Angin</option>
                    <option value="12">Sariawan</option>
                    <option value="14">Maag</option>
                    <option value="16">Demam</option>
                    <option value="19">Muntah</option>
                    <option value="17">Bau Mulut</option>
                    <option value="18">Sakit Mata</option>
                    <option value="21">Kulit Gatel</option>
                    <option value="22">Jerawat</option>
                    <option value="25">Pendarahan Gusi</option>
                    <option value="23">Mimisan</option>
                    <option value="24">menambah stamina</option>
                    <option value="26">kemandulan</option>
                    <option value="29">infeksi luka</option>
                    <option value="27">ejakulasi dini</option> 
                    <option value="28">bau badan</option> 
                    <option value="31">kencing manis</option> 
                    <option value="32">tifus</option> 
                    <option value="33">malaria</option> 
                    <option value="34">syphilis</option> 
                    <option value="36">asam urat</option> 
                    <option value="38">kolestrol</option> 
                    <option value="41">diabetes</option> 
                    <option value="42">sesak nafas</option> 
                    <option value="44">anemia</option> 
                    <option value="43">mempercepat penyembuhan luka</option> 
                    <option value="5">anemia</option> 
                    <option value="10">darah rendah</option> 
                    <option value="37">masalah haid</option> 
                    <option value="40">kudis</option> 
                    <option value="39">cacingan</option> 
                    <option value="20">rambut rontok</option> 
                    <option value="30">ketombe</option> 
                    <option value="13">peredaran darah kurang lancar</option> 
                    <option value="15">radang</option> 
                    <option value="35">darah tinggi</option> 
                    <option value="45">gangguan pencernaan anak</option> 
                    <option value="46">nyeri pinggang</option> 
                </select>
                </td>
              </tr>
              </div>
              <br>
              <div class="container-fluid col-lg-5">
              <tr class="mb-3 col-lg-6">
                <td>
                  <select class="form-select" aria-label="Default select example" label="penyakit2" name="penyakit2" required>
                    <option value="" selected disabled>Pilih Penyakit Kedua</option>
                    <option value="1">Batuk</option>
                    <option value="2">Pilek</option>
                    <option value="3">Nafsu Makan</option>
                    <option value="4">Sakit Perut</option>
                    <option value="5">Sakit Kepala</option>
                    <option value="7">Perut Kembung</option>
                    <option value="8">Radang Amandel</option>
                    <option value="9">Asma</option>
                    <option value="10">Sembelit</option>
                    <option value="12">Masuk Angin</option>
                    <option value="13">Sariawan</option>
                    <option value="14">Maag</option>
                    <option value="15">Demam</option>
                    <option value="17">Muntah</option>
                    <option value="18">Bau Mulut</option>
                    <option value="16">Sakit Mata</option>
                    <option value="19">Kulit Gatel</option>
                    <option value="22">Jerawat</option>
                    <option value="23">Pendarahan Gusi</option>
                    <option value="24">Mimisan</option>
                    <option value="25">menambah stamina</option>
                    <option value="27">kemandulan</option>
                    <option value="28">infeksi luka</option>
                    <option value="26">ejakulasi dini</option> 
                    <option value="29">bau badan</option> 
                    <option value="32">kencing manis</option> 
                    <option value="33">tifus</option> 
                    <option value="34">malaria</option> 
                    <option value="35">syphilis</option> 
                    <option value="37">asam urat</option> 
                    <option value="39">kolestrol</option> 
                    <option value="42">diabetes</option> 
                    <option value="43">sesak nafas</option> 
                    <option value="44">anemia</option> 
                    <option value="6">mempercepat penyembuhan luka</option> 
                    <option value="11">anemia</option> 
                    <option value="38">darah rendah</option> 
                    <option value="36">masalah haid</option> 
                    <option value="41">kudis</option> 
                    <option value="45">cacingan</option> 
                    <option value="31">rambut rontok</option> 
                    <option value="21">ketombe</option> 
                    <option value="46">peredaran darah kurang lancar</option> 
                    <option value="0">radang</option> 
                    <option value="20">darah tinggi</option> 
                    <option value="40">gangguan pencernaan anak</option> 
                    <option value="30">nyeri pinggang</option> 
                </select>
              </td>
              </tr>
              </div>
              <br>
          <br>
          <br>

        <!-- Button Submit -->
        <div>
          <button type="submit" class="btn btn-success">Rekomendasi</button>
        </div>
        <!-- End of Button Submit -->
      </form>
      <div class="mt-5 text-center">
        <h3 class="">Tanaman yang direkomendasikan adalah :</h2>
          <br>
          <br>
          <br>
          {% if hasil_prediksi %}
          <h3 class="text-center"><span class="" style="text-transform: uppercase;">{{hasil_prediksi}}</span></h3>
          {% endif %}
      </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section>
    <section id="about" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About</h2>
          <p>Saran Penyajian</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <h3>Jahe</h3>
              <p>Bagian yang dimanfaatkan adalah rimpang. Rimpang mengandung minyak asiri yang terdiri dari α-pinen, β fellandren, borneol, camfen, limonen, linalool, citral, nonilaldehid, desiladehid, metilheptenon, sineol, bisabolene, 1-β-kurkumen, farnesen, humulen dan zingiberen
              </p> <br>
                <p> rimpang jahe ¾ jari lalu diiris tipis-tipis, diseduh dengan air panas ¾ cangkir dan madu satu sendok makan.
                </p>
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <h3>Kunyit</h3>
              <p>Bagian yang dimanfaatkan adalah rimpang. Kandungannya adalah minyak asiri, kurkuminoid,arabinosa, fruktosa,glukosa, pati, tanin, damar,zat besi, fosfor, dan kalsium

                Penyakit yang bisa diobati adalah menurunkan tekanan darah, obat malaria, cacingan, sakit perut, memperbanyak asi, stimulant, keseleo, memar dan rematik
                
                Cara penggunaan : 
                <p>
                  1.	Rebus tiga rimpang kunyit dan ½ sendok the garam dengan 1 liter air sampai mendidih kemudian saring. Ramuan ini diminum dua kali seminggu ½ gelas untuk penderita diabetes
                </p>
                <p>
                  2.	Tumbuk halus dua rimpang kunyit, 1 bonggol serai kemudian ditambah satu gelas air masak yang masih hangat dan saring. Air saringan diminum selama satu minggu berturut-turut untuk yang sakit tifus
                </p>
                <p>
                  3.	Rebus 2 rimpang kunyit, 1 genggam daun beluntas, 1 gagang buah asam, 1 potong gula kelapa atau aren direbus dengan 1 liter air sampai mendidih kemudian saring. Minum air saringan satu gelas sehari untuk mengobati keputihan.
                </p>
                </p>
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <h3>Temulawak</h3>
              <p>Bagian yang dimanfaatkan adalah rimpang. Rimpang mengandung zat tepung, kurkumin dan minyak asiri

                Pemanfaatan : penyakit yang bisa diobati adalah jerawat, meningkatkan nafsu makan, antikolesterol, antiinflamasi, anemia, antioksidah, pencegah kanker, dan anti mikroba.
                
                Cara penggunaan:
                Rimpang kunyit digunakan sebagai obat lulur maupun dijadikan minuman sehat dengan cara kupas temulawak kemudian potong kecil-kecil,lalu cuci hingga bersih. Setelah itu rebus dan bisa ditambahkan dengan gula merah, susu atau madu jika mau.
                </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Kencur</h3>
              <p>
                Cara Penggunaan : 
              </p>
               <p>
                 1.	Seduh satu rimpang kencur, satu sendok tepung beras, serta satu potong gula kelapa dalam segelas air panas. Minum dalam kondisi hangat secara teratur, setiap hari tiga kali sebagai pelangsing tubuh
               </p>   
               <p>
                 2.	Parut tiga potong kencur kemudian masukkan ke dalam air setengah gelas yang telah dicampur dengan garam secukupnya. Ramuan ini diminim saat pagi dan sore setiap hari untuk meredakan batuk.
               </p>
               <p> 
                 3.	Tumbuk satu rimpang kencur dan beras secukupnya. Oleskan hasil tumbukan pada bagian tubuh yang keseleo
               </p>
               <p> 
                  4.	Campur parutan kencur dengan bubuk beras yang sudah disangrai. Peras lalu saring. Setelah itu, rebus Bersama asam jawa dan gula merah, saring dan minum untuk membangkitkan nafsu makan

              </p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Sirih</h3>
              <p>Cara penggunaan :</p>
              <p>
                1.	Rebus 15 lembar daun sirih, 10 lembar pegagan dan 10 lembar daun ciplukan dengan lima gelas air sampai tersisa dua gelas. Saat masih hangat, saring dan campur dengan madu lalu diminum dua kali sehari bila batuk
              </p>
               <p>
                 2.	Remuk atau lumatkan daun sirih kemudian digulung untuk menyumbat hidung yang berdarah atau mimisan.
               </p>
               <p>
                 3.	Giling daun segar 10 lembar hingga halus lalu ditapalkan pada bisul dan sekelilingnya
               </p> 
               <p> 
                4.	Cuci daun sampai bersih kemudian rebus dengan satu gelas air sampai mendidih. Setelah dingin, mata dicuci dengan air rebusan menggunakan gelas cuci mata. Lakukan sehari tiga kali sampai sembuh
                
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Daun Kemangi</h3>
              <p>Cara penggunaan : kemangi digunakan dengan dimakan secara langsung. Minyak asiri kemangi dapat digunakan untuk pijat aroma terapi karena dapat meringankan dan menyegarkan tubuh. Namun, Wanita hamil dilarang menggunakannya karena dikhawatirkan dapat menyebabkan keguguran.
              </p>
             </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Sambiloto</h3>
              <p>
                Cara Penggunaan :
              </p>
              <p>
                1.	Makan atau kunyah langsung daun sambiloto dalam keadaan masih segar untuk penderita diabetes
              </p>
              <p>
                2.	Tumbuk segenggam daun, seduh dengan secangkir air, saring lalu diminum sekaligus untuk yang demam, bisa juga daun digiling halus lalu ditapalkan pada bagian yang panas
              </p>
              <p> 
                3.	Rebus daun kering sebanyak 9-15 g dengan tiga gelas air sampai tersisa satu gelas. Setelah dingin disaring lalu diminum sehari 2x1 gelas, untuk penderita disentri, diare dan radang saluran pernapasan </p>
              <p>

              </p>
          </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Daun Binahong</h3>
              <p>Bagian yang dimanfaatkan adalah daun. Daun mengandung flavonoid, asam oleanolic, protein, asam askorbat dan saponin.
              </p>
               <p>Cara penggunaan, Rebus 10 lembar daun binahong bersama satu gelas air hingga mendidih. Saring air rebusan tersebut. Minum air rebusan tiga kali sehari. Selain itu buat jus dari 10-25 lembar daun binahong dengan menambahkan setengah gelas atau 100-200 ml air
              </p>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Temuireng</h3>
              <p>Cara penggunaan</p>
              <p>
                1.	Parut rimpang, tapalkan pada bagian yang gatal-gatal
              </p>
              <p>
                2.	Kupas rimpang segar, cuci dan tiriskan kemudian peras dan saring. Minum airnya.
              </p>
              <p> 
                3.	Air rebusan temu hitam dapat digunakan sebagai obat mulas dan peluruh angin, obat pembersih darah pasca melahirkan
                
              </p>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Lidah Buaya</h3>
              <p>Cara penggunaan :</p>
                <p>
                  1.	Bagian dalam daun lidah buaya dapat ditempelkan pada bagian tubuh yang mengalami luka ringan akibat terbakar dan tersiram air panas
                </p>
               <p>
                 2.	Daun lidah buaya yang segar dihaluskan kemudian ditambah sedikit garam, tempelkan pada bisul
               </p>
               <p>
                 3.	Lidah buaya dipotong-potong seperlunya kemudian direbus. Air rebusan diminum setelah makan.
               </p>
               <p>
                4.	Daun segar 15-18 cm direbus ditambah gula, diminum untuk mengobati batuk rejan.
                
              </p>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Daun Beluntas</h3>
              <p>Bagian yang dimanfaatkan adalah daun. Daun & bunga mengandung saponin, flavonoid, polifenol dan alkaloid. Daun juga mengandung minyak asiri, kalsium, asam chlorogenic, natrium, magnesium dan fosfor
              <p>
                Rebus daun, minum sebagai obat demam, batuk, keluarkan keringkaat, bau mulut atau dipakai untuk mandi sebagai penyegar dan menguatkan urat saraf
              </p>
                
              </p>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Kumis Kucing</h3>
              <p>Cara penggunaan :</p>
              <p>
                1.	Rebus daun kumis kucing sebanyak 25g Bersama 25g daun ngokilo, 25g daun meniran lengkap dengan akarnya, 25g daun keji beling. Air rebusan diminum, berkhasiat mengobati batu ginjal
              </p>
              <p>
                2.	Rebus herba kering 30-60g atau 90-120g herba segar dalam tiga gelas air sampai tersisa setengah bagian. Air rebusan diminum tiga kali sehari. Setengah gelas berkhasiat untuk mengobati asam urat
              </p>
              <p>
                3.	Rebus daun sebanyak tujuh helai dan dua potong akar kumis kucing dengan stau gelas air. Biarkan satu malam, dan diminum untuk mengatasi sakit pinggang
                
              </p>
             </div>
          </div>

        </div>

      </div>
    </section>
    <!-- =======  Plan Section ======= -->
    <section id="plant" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Plant</h2>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".rimpang">Rimpang</li>
              <li data-filter=".daun">Daun</li>
            </ul><!-- End Portfolio Filters -->
          </div>

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item rimpang">
              <div class="portfolio-wrap">
                <a href="static/img/about/jahe.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/jahe.jpg" class="img-fluid" width="600"></a>
                <div class="portfolio-info">
                  <h4><a title="More Details">Jahe</a></h4>
                  <p></p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item rimpang">
              <div class="portfolio-wrap">
                <a href="static/img/about/kunyit.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/kunyit.jpg" class="img-fluid" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Kunyit</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item rimpang">
              <div class="portfolio-wrap">
                <a href="static/img/about/temulawak.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/temulawak.jpg"  width="600" height="280"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Temulawak</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item rimpang">
              <div class="portfolio-wrap">
                <a href="static/img/about/kencur.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/kencur.jpg" class="img-fluid" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Kencur</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item daun">
              <div class="portfolio-wrap">
                <a href="static/img/about/sirih.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/sirih.jpg" width="600" height="280"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Daun Sirih</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item daun">
              <div class="portfolio-wrap">
                <a href="static/img/about/kemangi.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/kemangi.jpg" height="280" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Kemangi</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item daun">
              <div class="portfolio-wrap">
                <a href="static/img/about/sambiloto.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/sambiloto.jpg" height="280" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Daun Sambiloto</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item daun">
              <div class="portfolio-wrap">
                <a href="static/img/about/binahong.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/binahong.jpg" class="img-fluid" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Daun Binahong</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item rimpang">
              <div class="portfolio-wrap">
                <a href="static/img/about/temuireng.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/temuireng.jpg" class="img-fluid" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Temuireng</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item daun">
              <div class="portfolio-wrap">
                <a href="static/img/about/lidahbuaya.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/lidahbuaya.jpg" class="img-fluid" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Lidah Buaya</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item daun">
              <div class="portfolio-wrap">
                <a href="static/img/about/beluntas.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/beluntas.jpg" height="280" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Daun Beluntas</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item daun">
              <div class="portfolio-wrap">
                <a href="static/img/about/kumiskucing.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/about/kumiskucing.jpg" height="280" width="600"></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">Kumis Kucing</a></h4>
                  <!-- <p>Lorem ipsum, dolor sit amet consectetur</p> -->
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Xperience One</p>
        </div>

        <div class="row gy-4 justify-content-center">

          <div class="col-xl-2 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="static/img/team/tio.jpg" class="img-fluid">
              <p style="font-family: aria-label;">Nur Cahyo Tio Nugroho</p>
              <span>Leader</span>
              <div class="social justify-content-center">
                <a href="https://twitter.com/TioNugroho__" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/tio.ngr/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://linkedin.com/in/tio-ngr" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-xl-2 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="static/img/team/tifa.jpg" class="img-fluid" alt="">
              <p style="font-family: aria-label;">Latifa Rachma	</p>
              <span>Project Manager</span>
              <div class="social justify-content-center">
                <a href="https://instagram.com/latifarhh" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/latifa-rachma-844611b0/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-2 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/img/team/bagus.jpg" class="img-fluid" alt="">
              <p style="font-family: aria-label;">Bagus Rifqi Ridho</p>
              <span>Head of IT</span>
              <div class="social">
                <a href="https://github.com/bagusrr99" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100077920297646" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/runcodebagus/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/bagusr/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-2 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="static/img/team/hakim.jpg" class="img-fluid" alt="">
              <p style="font-family: aria-label;">Ahmad Malikhul Khakim</p>
              <span>Operational</span>
              <div class="social justify-content-center">
                <a href="https://www.instagram.com/mlkhlhkm__" target="_blank"><i class="bi bi-instagram"></i></a>
                <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="static/img/team/faqih.jpg" class="img-fluid" alt="">
              <p style="font-family: aria-label;">Faqih Azka Ash Shidqi</p>
              <span>Designer</span>
              <div class="social justify-content-center">
                
                <a><i class="bi bi-facebook"></i></a>
                <a><i class="bi bi-instagram"></i></a>
                <a><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Our Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>TOGA</span></strong>. All Rights Reserved
      </div>
      
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>